/* =============================================================================
// Arpeggio.css
// -----------------------------------------------------------------------------
// Base styles.
// ========================================================================== */

/* =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Base
// ========================================================================== */

/* Base
// ========================================================================== */

#app {
  overflow: hidden;
}

.Arpeggio {
  display: grid;
  grid-template-areas:
    "diagram masthead"
  ;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  justify-content: start;
  align-items: stretch;
  align-content: start;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}